@font-face {
  font-family: "iconfont"; /* Project id 4622768 */
  src: url('iconfont.woff2?t=1721114810117') format('woff2'),
       url('iconfont.woff?t=1721114810117') format('woff'),
       url('iconfont.ttf?t=1721114810117') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clover:before {
  content: "\e68b";
}

.icon-blog:before {
  content: "\e7c6";
}

.icon-jianli:before {
  content: "\e7b5";
}

